/* .App {
  text-align: center;
} */
body {
  background: rebeccapurple;
}

.custom-data-table {
  overflow-x: auto;
  border-radius: 8px;
}
.custom-data-table td,
.custom-data-table th {
  white-space: normal;
  word-wrap: break-word;
}
#cell-2-undefined {
  word-wrap: break-word;
}
.alertButton {
  width: 30px;
  height: 30px;
  position: absolute;
  right: 15px;
  top: 12px;
  border-radius: 5px;
  background: #ff7e7e;
}
